.privacyPolicy {
  padding: 10.4rem 0 8rem;
}

.privacyPolicy h1 {
  color: var(--color-navy-dark);
}

.privacyPolicy h4 {
  color: var(--color-gray-darker);
}

.policyContainer {
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.6;
}

.policyTitle {
  margin-bottom: 0.8rem;
  text-align: left;
  width: 100%;
  max-width: unset;
  text-align: center;
}

.policyDate {
  font-style: italic;
  color: #333;
  margin-bottom: 3.2rem;
  text-align: center;
}

.policySection {
  margin-bottom: 1.6rem;
}

.privacyPolicy .sectionTitle {
  font-weight: 800;
  margin: 3.2rem 0 0.8rem;
  text-align: left;
  font-size: 2rem;
}

.privacyPolicy .subsectionTitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1.2rem 0 0.8rem;
  text-align: left;
}

.bulletList {
  list-style-type: disc;
  margin-bottom: 1rem;
  padding: 0;
  padding-left: 1.8rem;
  color: #333;
  font-size: 1.4rem;
}

.bulletList li {
  margin-bottom: 0.4rem;
}

.linkList {
  list-style-type: none;
  margin-bottom: 2.4rem;
  padding: 0;
}

.webiste {
  text-decoration: none;
}

.webiste:hover {
  text-decoration: underline;
}

.linkList li {
  margin-bottom: 0.4rem;
}

.link {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.contactInfo {
  background-color: #f8f8f8;
  padding: 1.4rem;
  border-radius: 0.4rem;
  margin: 2.4rem 0;
  border-radius: 1.6rem;
}

.cookiePolicyContainer {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

@media screen and (min-width: 768px) {
  .privacyPolicy {
    padding: 12rem 0 8rem;
  }

  .policyTitle {
    font-size: 4rem;
  }

  .sectionTitle {
    font-size: 1.6rem;
  }

  .subsectionTitle {
    font-size: 1.2rem;
  }

  .policyContainer {
    max-width: 90%;
  }

  .link,
  .webiste,
  .bulletList {
    font-size: 1.6rem;
  }


}
