.contactForm {
  padding: 8rem 0;
  background-color: var(--color-gray-light);
}

.contactForm h2 {
  color: var(--color-navy-dark);
}

.contactForm > div {
  max-width: 60rem;
}

.contactForm p {
  text-align: center;
  color: var(--color-gray-dark);
}

.inputGroup,
.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.contactForm form {
  padding-top: 4rem;
}

.contactForm form button {
  margin-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .contactForm {
    padding: 12rem 0;
  }

  .contactForm form {
    padding-top: 6.4rem;
    gap: 2.4rem;
  }

  .contactForm form button {
    margin-top: 1.6rem;
  }

  .inputGroup {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }
}
