.productRange {
  padding: 6.4rem 0 2.4rem;
}

.productRange .productRangeText {
  margin-bottom: 4rem;
}

.navNext,
.navPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.navPrev {
  left: -4rem;
}
.navNext {
  right: -4rem;
}

@media screen and (min-width: 768px) {
  .navigationButtons {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .arrowRight,
  .arrowLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrowLeft {
    left: -4.8rem;
  }

  .arrowRight {
    right: -4.8rem;
  }
}
