.footer {
  background-color: var(--color-gray-darker);
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  justify-content: space-between;
  color: var(--color-gray-light);
  font-size: 1.4rem;
  gap: 1.6rem;
}

.footer a {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .footer > div {
    padding: 1.6rem;
    flex-direction: row;
    gap: 0;
  }
}
