.similarProducts {
  padding: 1.6rem 0 8.8rem;
  background-color: var(--color-gray-light);
}

.similarProducts h2 {
  color: var(--color-navy-dark);
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .similarProducts {
    padding: 6.4rem 0 10.4rem;
  }

  .similarProducts h2 {
    margin-bottom: 3.2rem;
  }
}
