.similarProducts {
  padding: 8rem 0 12rem;
  background-color: var(--color-gray-light);
}

.similarProducts h2 {
  color: var(--color-navy-dark);
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .similarProducts {
    padding: 10.4rem 0 12rem;
  }

  .similarProducts h2 {
    margin-bottom: 3.2rem;
  }
}
