.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  aspect-ratio: 1920 / 785;
  padding-top: 7rem;
  transition: all 0.3s ease;
  min-height: 50dvh;
  width: 100%;
  background-size: cover;
  background: var(--color-navy-dark);
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
