.hero {
  background-color: var(--color-blue-primary);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  aspect-ratio: 1920 / 785;
  padding-top: 7rem;
  transition: all 0.3s ease;
  height: 100dvh;
  width: 100%;
}

.hero h1 {
  color: var(--color-navy-dark);
  margin-bottom: 2.4rem;
  max-width: 24rem;
  margin: 0 auto;
}

.heroImage {
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heroContent p {
  color: var(--color-white);
}

.heroText a {
  display: none;
}

.heroText p {
  max-width: 40rem;
  margin-top: 2.4rem;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1600 / 1200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: 100%;
  max-width: 90dvw;
}

@media screen and (min-width: 640px) {
.image img {

  max-width: 75dvw;
}
}

@media screen and (min-width: 920px) {
  .hero {
    min-height: 60dvh;
    height: auto;
  }

  .heroContent {
    flex-direction: row-reverse;
    margin: auto;
    gap: 2.4rem;
    padding: 5dvh 0;
    height: 100%;
  }

  .hero h1 {
    text-align: left;
    margin: 0 0 3.2rem;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 38%;
    height: 100%;
    max-height: 36rem;
  }

  .heroText p {
    text-align: left;
  }

  .heroImage {
    width: 62%;
  }

  .mobileButton {
    display: none;
  }

  .heroText a {
    display: block;
  }
  .image img {
    max-width: 92rem;
    height: 100%;
  }
}


/* @media screen and (min-width: 1024px) {
  .image img {
    max-width: 50dvw;
  }

  .heroContent a {
    margin-top: 2.4rem;
  }


}

@media screen and (min-width: 1440px) {

} */