.hero {
  background-color: var(--color-blue-primary);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  aspect-ratio: 1920 / 785;
  padding-top: 7rem;
  transition: all 0.3s ease;
  height: 100dvh;
  width: 100%;
  background-size: cover;
}

.hero h1 {
  color: var(--color-navy-dark);
  margin-bottom: 2.4rem;
  max-width: 24rem;
  margin: 0 auto;
}

.heroImage {
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  padding: 7.5dvh 1.6rem;
}

.heroContent p {
  color: var(--color-white);
}

.heroText a {
  display: none;
}

.heroText p {
  max-width: 36rem;
  margin-top: 2.4rem;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 90dvw;
}

.mobileButton {
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 50dvh;
    height: auto;
  }

  .heroContent {
    flex-direction: row-reverse;
    margin: auto;
    height: 50%;
    gap: 2.4rem;
    padding: 0;
  }

  .hero h1 {
    text-align: left;
    margin-bottom: 3.2rem;
    margin: 0 0 2.4rem;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    aspect-ratio: 16 / 9;
    width: 38%;
    height: 100%;
  }

  .heroText p {
    text-align: left;
    max-width: 40rem;
  }

  .heroImage {
    width: 62%;
  }

  .mobileButton {
    display: none;
  }

  .heroText a {
    display: block;
  }
  .image img {
    max-width: 92rem;
  }
}
