.hero {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.heroImage {
  min-height: 50dvh;
  text-align: center;
  position: relative;
  aspect-ratio: 1920 / 785;
  animation: slide 10s linear infinite;
  top: 0;
}

.rotate > img {
  transform: rotate(180deg);
}

.heroContent {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
  padding-top: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero button {
  background: url("/images/download.svg") no-repeat 1.2rem center, var(--red);
  padding-left: 4rem;
  background-size: 2.4rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.hero::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 20%, transparent 70%);
  pointer-events: none;
}

@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
