.products {
  padding: 8rem 0;
  background-color: var(--color-gray-light);
}

.productsIncreasedTop {
  padding: 12rem 0 8rem;
}

.smallPadding {
  padding: 10.4rem 0 8rem;
}

.products h2 {
  color: var(--color-navy-dark);
}

.smallPadding h2 {
  margin-bottom: 3.2rem;
}

.products > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products > div > div {
  text-align: center;
}

.description {
  text-align: center;
  color: #333;
  margin-bottom: 3.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  width: 100%;
  margin-top: 0.8rem;
}

.grid + a {
  margin-top: 4.8rem;
}

@media screen and (min-width: 768px) {
  .products {
    padding: 12rem 0;
  }

  .productsIncreasedTop {
    padding: 16rem 0 12rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }

  .smallPadding {
    padding: 12rem 0 6.4rem;
  }

  .grid {
    margin-top: 1.6rem;
  }

  .description p {
    display: flex;
    flex-direction: column;
  }
}
