.Accordion {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.AccordionItem {
  border-bottom: 1px solid var(--color-gray-light);
}

.AccordionItem:last-child {
  border-bottom: none;
}

.AccordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.AccordionTitle {
  margin: 0;
  font-size: 1.8rem;
  color: var(--color-navy-dark);
  padding-bottom: 0.4rem;
}

.AccordionArrow {
  color: var(--color-navy-dark);
  transition: transform 0.3s ease;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AccordionArrowOpen {
  transform: rotate(180deg);
}

.AccordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.AccordionContentOpen {
  max-height: 500px;
}

.AccordionContentInner {
  padding-left: 0.4rem;
}

.AccordionContentInner p {
  padding: 0.8rem 0;
}
