.Button {
  border: unset;
  cursor: pointer;
  width: min-content;
}

.Disabled {
  pointer-events: none;
  opacity: 0.5;
}

.Ghost {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--text);
}

@media (min-width: 768px) {
  .Button:hover {
    background-color: var(--color-blue-light);
  }

  .Ghost:hover {
    opacity: 0.8;
  }
}
