.sliderWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.navigationButtons {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
}

.navigationButtons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.imageSlide {
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
}

.youtubeSlide {
  opacity: 1;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton svg {
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navigationButtons {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    z-index: 2;
  }

  .navigationButtons:has(.arrowLeftImages, .arrowRightImages) {
    top: unset;
    bottom: -3.2rem;
    justify-content: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .arrowRight,
  .arrowLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrowLeft {
    left: -4.8rem;
  }

  .arrowLeftImages {
    left: -3.2rem;
  }

  .navigationButtons .arrowLeftImages,
  .navigationButtons .arrowRightImages {
    border-radius: 50%;
    background-color: var(--white);
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .arrowRight {
    right: -4.8rem;
  }

  .arrowRightImages {
    right: -3.2rem;
  }
}
