.InputWrapper {
  width: 100%;
  position: relative;
}

.InputWrapper textarea,
.InputWrapper input {
  width: 100%;
  border: none;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  font-size: 1.6rem;
  outline: none;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
  font-family: var(--font-rawline);
  border-radius: 2.4rem;
  font-weight: 300;
}

.InputWrapper input {
  max-height: 3.4rem;
}

.InputWrapper textarea::placeholder,
.InputWrapper input::placeholder {
  color: var(--color-gray-dark);
  font-size: 1.6rem;
  font-weight: 300;
}

.InputWrapper textarea {
  resize: none;
  min-height: 11.2rem;
}

.InputError {
  color: var(--color-error);
  font-size: 1.1rem;
  font-weight: 400;
  position: absolute;
  bottom: -1.8rem;
  left: 1.6rem;
}

.InputWrapper textarea + .InputError {
  bottom: -1.4rem;
}
