.interactiveDiagram {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-gray-light);
  border-radius: 0.8rem;
  padding: 8rem 0;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dotsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  width: 4dvw;
  height: 4dvw;
  max-width: 2.4rem;
  max-height: 2.4rem;
  border-radius: 50%;
  border: .2rem solid #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: pulse 2s infinite;
  box-shadow: .1rem .1rem .25rem .5rem var(--color-navy-dark);
}

.dot:hover,
.dot:focus {
  transform: translate(-50%, -50%) scale(1.2);
  filter: drop-shadow(0 0 .8rem rgba(0, 0, 0, 0.4));
  outline: none;
}

.dot:focus-visible {
  outline: 0.3rem solid var(--color-navy-dark);
  outline-offset: 0.2rem;
}

.modal {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, calc(-100% - 3.6rem));
  pointer-events: none;
  animation: fadeIn 0.3s ease;
}

.modalContent {
  background: white;
  border-radius: .8rem;
  overflow: hidden;
  box-shadow: 0 .8rem 2.4rem rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 24rem;
  pointer-events: all;

}

.modalImage {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  background: var(--color-white);
  height: 20rem;
}

.modalImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalInfo {
  background: var(--color-navy-dark);
  color: white;
  padding: 1.6rem;
  height: 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalInfo h3 {
  font-weight: 600;
  margin: 0;
}

.productCode {
  margin: 0;
  font-size: 1.2rem;
  opacity: 0.8;
}

.description {
  margin: 0.8rem 0 0 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

.modalPointer {
  position: absolute;
  bottom: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 1.6rem solid transparent;
  border-right: 1.6rem solid transparent;
  border-top: 1.6rem solid var(--color-navy-dark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-100% - 4rem));
  }
  to {
    opacity: 1;
    transform: translate(-50%, calc(-100% - 3rem));
  }
}

@media screen and (min-width: 768px) {
  .interactiveDiagram {
    padding: 12rem 0;
  }

  .modalContent {
    width: 32rem;
  }
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-navy-dark);
  }
  70% {
    box-shadow: 0 0 0 .8rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}