:root {
  --black: #000000;
  --red: #cf0000;
  --red-dark: #a40000;
  --gray-light: #e6e6e6;
  --gray-medium: #ccc;
  --gray-dark: #2c2c2c;
  --gray-ultra-dark: #3c3c3c;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: var(--font-open-sans);
  position: relative;
  background-color: var(--gray-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans);
}

.container-extra-small,
.container-medium,
.container-small,
.container {
  margin: 0 auto;
  padding: 0 1.6rem;
}

.container {
  max-width: 112rem;
}

.container-medium {
  max-width: 96rem;
}

.container-small {
  max-width: 74rem;
}

.container-extra-small {
  max-width: 58rem;
}

button,
a,
p {
  color: var(--text-primary);
  font-size: 1.6rem;
  line-height: 1.45;
  letter-spacing: 0.03rem;
  font-family: var(--font-open-sans);
}

li {
  letter-spacing: -0.02rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2.4rem;
}

h1 {
  font-size: clamp(2rem, 2.143vw + 1.571rem, 3.5rem);
  max-width: 58rem;
  line-height: 1.2;
}

h2 {
  font-size: clamp(2rem, 2.143vw + 1.571rem, 3.5rem);
}

h4 {
  font-size: clamp(1.3rem, 0.8vw + 1rem, 1.7rem);
  line-height: 1.1;
}

h5 {
  font-size: clamp(1.5rem, 0.536vw + 1.018rem, 1.6rem);
}

.button-red,
.link-red {
  background-color: var(--red);
  color: var(--white);
  padding: 0.6rem 2.4rem;
  border-radius: 2.4rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.link-red:hover {
  background-color: var(--red-dark);
}

.swiper {
  position: static !important;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2.4rem;
}

td,
th {
  padding: 1.2rem;
  border: 1px solid var(--gray-medium);
  text-align: left;
}
td {
  font-size: 1.4rem;
  color: var(--gray-dark);
}
th {
  font-weight: 600;
  color: var(--gray-ultra-dark);
  font-size: 1.6rem;
}

@media (min-width: 112rem) {
  .container-small,
  .container {
    padding: 0;
  }
}
