.svgWrapper {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-gray-light);
  border-radius: .8rem;
  overflow: hidden;
  padding: 4rem 0;
}

.svg {
  position: relative;
  aspect-ratio: 4 / 3;
  width: 100%;
  border-radius: .8rem;
  overflow: hidden;
}


@media screen and (min-width: 768px) {
.svgWrapper {

  padding: 6.4rem 0;
}

}
