.productDetails {
  padding: 8rem 0 2.4rem;
}

.details h1 {
  text-align: start;
  text-transform: unset;
}

.details > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  color: #333;
}

.bold {
  font-weight: 800;
  line-height: 1.2;
}

.productDetails > div {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.productCode {
  margin-bottom: 2.4rem;
  color: var(--gray-dark);
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productCode span:nth-of-type(2) {
  opacity: 0.6;
  display: inline-block;
  max-width: 6rem;
  line-height: 1.1;
  text-transform: uppercase;
}

.productCode span {
  margin-right: 1.2rem;
}

.productCode span:nth-of-type(1) {
  font-weight: 500;
  font-size: 1.8rem;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: auto;
  align-self: flex-start;
}

.images,
.details {
  width: 100%;
}

.details {
  align-self: flex-start;
}

.additionalImages {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  margin: 0.8rem 0 3.2rem;
}

.additionalImages :global(.swiper) {
  width: 100%;
  overflow: visible;
  overflow: hidden;
}

.additionalImages :global(.swiper-slide) {
  background-color: var(--white);
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.additionalImages :global(.swiper-slide) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.mainImage {
  border-radius: 1.6rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;
}

.thumb {
  aspect-ratio: 1 / 1;
  position: relative;
}

.description span {
  scrollbar-width: thin;
  scrollbar-color: #ccc #ffffff6b;
  transition: max-height 0.3s ease;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.newBadge {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background-color: var(--red);
  color: var(--white);
  padding: 0.4rem 1.4rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
}

.videoThumb {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1.6rem;
  overflow: hidden;
}

.videoThumb svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .productDetails {
    padding: 16rem 0 0;
  }

  .productDetails > div {
    flex-direction: row;
  }

  .images,
  .details {
    width: 50%;
  }

  .description {
    padding-right: 1.6rem;
  }

  .descriptionContainer {
    gap: 1.6rem;
  }
}
