.contact {
  padding: 8rem 0;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
}

.map {
  position: relative;
  aspect-ratio: 1.5 / 1;
  width: 100%;
  height: auto;
  border-radius: .8rem;
  overflow: hidden;
  z-index: 1;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
  border: none;
}

.contactInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 4rem;
}

.contactInfo > div:nth-of-type(1) { grid-area: 1 / 1 / 2 / 2; }
.contactInfo > div:nth-of-type(2) { grid-area: 2 / 1 / 3 / 2; }
.contactInfo > div:nth-of-type(3) { grid-area: 1 / 2 / 3 / 3; }

.contactInfo > div {
  display: flex;
  gap: 1.4rem;
  position: relative;
  z-index: 2;
  margin-bottom: 2.4rem;
}

.contactInfo > div h5 {
  text-transform: uppercase;
}

.contactInfo > div *:not(h5) {
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.contactInfo a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.contactInfo > a {
  text-decoration: underline;
}

.social svg {
  width: 2.4rem;
  height: 2.4rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
}

.contactInfo h5 span {
  display: none;
}

.contactInfo span {
  color: var(--color-gray-light);
}

.contactInfo > div:nth-of-type(2) > a:last-of-type {
  text-decoration: underline;
  margin-top: 3.6rem;
}

.contactInfoItem {
  display: flex;
}

.contactInfoItem svg {
  width: 2.4rem;
  height: 2.4rem;
}

.contactInfoItem > div {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.contactInfoItem .contactInfoItemFlex {
  gap: 4rem;
}

.contactInfoItem .contactInfoItemFlex > div:last-of-type a {
  text-decoration: underline;
}

.contactInfoItemFlex > div {
  display: flex;
  gap: 1.6rem;
}

.contactInfoItemFlex > div > div {
  display: flex;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 12rem 0 8rem;
  }

  .contact > div {
    gap: 6.4rem;
  }

  .contactInfo > div:not(:last-of-type) {
    margin-bottom: 4rem;
  }

  .contactInfo > div:last-of-type {
    margin-bottom: 0;
  }

  .contactInfo > div:nth-of-type(2) > a:last-of-type {
    margin-top: 2.6rem;
  }

  .map {
    padding: 0 1.6rem 4rem;
    aspect-ratio: 2.3 / 1;
  }

  .contactInfo {

  padding-bottom: 6.4rem;
}

  .contactInfo > div * {
    font-size: 1.6rem;
  }

  .contactInfo > div h5 {
    text-transform: unset;
  }

  .contactInfo h5 span {
    display: inline;
  }
}
