.card {
  transition: all 0.3s ease;
  border-radius: 1.6rem;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.link {
  text-decoration: none;
}

.card:hover .image img {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.4 / 1;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 16.4rem;
  position: relative;
  overflow: hidden;
}

.imageBig {
  aspect-ratio: 1 / 1;
  max-height: 20rem;
}

.image img {
  transition: all 0.3s ease;
}

.titleNoCaps h4 {
  text-transform: unset;
}

.title {
  background-color: var(--gray-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  margin-bottom: 0;
  padding: 0 0.6rem;
  width: 100%;
}

.title h4 {
  margin: 0;
  max-width: 16rem;
}

.cardWrapper {
  position: relative;
}

.newBadge {
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  z-index: 1;
  border-radius: 1.6rem;
  padding: 0.4rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .card {
    border-radius: 3.6rem;
  }

  .title {
    height: 7.2rem;
  }

  .title h4 {
    margin: 0;
    max-width: 21rem;
  }
}
