.card {
  transition: all 0.3s ease;
  border-radius: .8rem;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.link {
  text-decoration: none;
}

.card:hover .image img {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 32rem;
  position: relative;
  overflow: hidden;
}

.imageBig {
  aspect-ratio: 1 / 1;
  max-height: 32rem;
}

.image img {
  object-fit: contain;
}

.imageBig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image img {
  transition: all 0.3s ease;
}

.titleNoCaps h4 {
  text-transform: unset;
}

.title {
  background-color: var(--color-blue-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  margin-bottom: 0;
  padding: 0 0.6rem;
  width: 100%;
}

.title h4 {
  margin: 0;
  max-width: 16rem;
  text-transform: uppercase;
}

.cardWrapper {
  position: relative;
}

.productCode,
.newBadge {
  text-transform: uppercase;
  z-index: 1;
  border-radius: .8rem;
  padding: 0.4rem 1.4rem;
  font-weight: 600;
  position: absolute;
  z-index: 9;
  font-size: 1.2rem;
  max-width: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newBadge {
  background-color: var(--red);
  color: var(--white);
  top: 1.8rem;
  left: 1.8rem;
}

.productCode {
  background-color: var(--color-blue-primary);
  color: #000;
  top: 1.8rem;
  right: 1.8rem;
}

@media screen and (min-width: 768px) {
  .title {
    height: 6.4rem;
  }

  .title h4 {
    margin: 0;
    max-width: 21rem;
  }
}
