.productsListSkeleton {
  padding: 12rem 1.6rem 8rem;
}

.productsListSkeletonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.title {
  width: 20rem;
  height: 2.4rem;
  background: linear-gradient(90deg, #0000, #fff6, #0000);
  border-radius: 4px;
  margin-bottom: 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2.4rem;
}

.description {
  width: 100%;
  height: 1.6rem;
  background: linear-gradient(90deg, #0000, #fff6, #0000);
  border-radius: 4px;
  margin-bottom: 4.8rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  overflow: hidden;
}

.imageSection {
  background-color: #f8f9fa;
  padding: 1rem;
  height: 17rem;
  position: relative;
  overflow: hidden;
}

.imageSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

.productNumber {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 4rem;
  height: 1.6rem;
  background-color: #e9ecef;
  border-radius: 0.8rem;
}

.productImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 6rem;
  background-color: #e9ecef;
  border-radius: 8px;
}

.textSection {
  background-color: #d6d8db;
  padding: 1rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.textSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

.productName {
  width: 12rem;
  height: 1.6rem;
  background-color: #bcc0c4;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Responsive design */
@media (min-width: 768px) {
  .productsListSkeleton {
    padding: 14rem 0 9.8rem;
  }

  .productsListSkeletonGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }

  .card {
    border-radius: 3.6rem;
  }

  .imageSection {
    height: 20rem;
  }

  .textSection {
    height: 7.2rem;
  }

  .title {
    margin: 0 auto 4rem;
  }
}
