.pdfLink {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.pdfLink a {
  color: var(--color-blue-primary);
  text-decoration: underline;
  font-weight: 600;
}

.pdfLink svg {
  margin-left: 0.4rem;
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
  transform: translateY(0.1rem);
}
