.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
  width: 100%;
  background-color: var(--color-navy-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1.2rem;
  height: 3.6rem;
}

.TopBar a {
  color: var(--color-white);
  transform: translateY(-0.2rem);
  display: block;
}
