.gotQuestions {
  background-color: var(--color-gray);
  padding: 8rem 0;
}

.gotQuestions p {
  text-align: center;
  color: var(--color-gray-light);
}

.gotQuestionsSocials {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.gotQuestionsSocials a {
  border: 1px solid #797979;
  padding: 1.2rem;
  border-radius: 0.6rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-white);
  font-size: 1.8rem;
}

.gotQuestionsSocials a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.gotQuestionsSocials a svg {
  width: 2.4rem;
  height: 2.4rem;
}

.gotQuestionsSocials a:hover {
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
}

@media screen and (min-width: 768px) {
  .gotQuestions {
    padding: 12rem 0;
  }

  .gotQuestions p {
    display: flex;
    flex-direction: column;
  }
}
