.wellcome {
  padding: 6.4rem 0;
  background-color: var(--color-gray-light);
}

.wellcome p {
  color: #333;
  text-align: justify;
  text-justify: inter-word;
}

.wellcomeImage {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  z-index: 1;
  margin-top: 2.4rem;
}

.wellcomeImage img {
  border-radius: 0.8rem;
}

.wellcome h2 {
  color: var(--color-navy-dark);
  max-width: 52rem;
  margin: 0 auto 2.4rem;
}

.wellcomeList {
  list-style-type: none;
  color: var(--color-gray-dark);
  font-size: 1.4rem;
  padding-left: 1.2rem;
}

.wellcomeList li {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  gap: 1.2rem;
}

.wellcomeList svg {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.wellcomePartners,
.wellcomeCertificates,
.wellcomeCatalogs {
  border-top: 1px solid rgb(192, 192, 192);
  padding-top: 2rem;
}

.wellcomeCertificates,
.wellcomePartners {
  padding-bottom: 4em;
}

.logosMobile {
  display: block;
  margin: 2.4rem 0;
  position: relative;
  overflow: visible;
  padding-bottom: 4rem;
}

.logos {
  display: none;
}

.logos > div {
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 12rem;
  height: auto;
}

.pdfs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
  .wellcome {
    padding: 8rem 0;
  }

  .wellcomeImage {
    margin-top: 4rem;
  }

  .pdfs {
    flex-direction: row;
    gap: 1.6rem;
  }

  .logosMobile {
    display: none;
  }

  .logos {
    display: flex;
    gap: 1.6rem;
    flex-wrap: unset;
    justify-content: center;
    margin-top: 2.4rem;
  }

  .logos > div {
    max-width: unset;
    border-radius: 0.8rem;
    overflow: hidden;
  }

  .wellcomeList {
    padding-left: 3.2rem;
    font-size: 1.6rem;
  }
}
